<?php
/**
 * <%- blockData.name %> block template
 */
?>


<div id="<?php echo esc_attr( $args['id'] ); ?>" class="<%- blockData.slug %>-block <?php echo esc_attr( $args['className'] ); ?>">
    <%- blockData.name %> block
</div>